html{
  font-size: 100%;
}

.nav{
  background-color: #F0FFFF;
  font-family: 'Shift', sans-serif;
  font-size: 16px;
  color: #191970;
  padding: 30px 30px 10px 30px;
}

.nav li {
  display: inline;
  padding: 10px;
}

.nav a {
}



.jumbotron {
  background-image:url('https://scontent.xx.fbcdn.net/v/t1.0-9/250773_10151855400445383_1317809354_n.jpg?oh=aab5a5159c8c43db300bdda1093704f3&oe=5832CD09');
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  padding: 30px 30px 10px 30px;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 52px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighbourhood-guides{
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighbourhood-guides h2{
    color: #393c3d;
    font-size: 24px;
}

.neighbourhood-guides p{
    font-size: 15px;
    margin-bottom: 13px;
}
