html{
  font-size: 100%;
}

.nav{
  padding: 20px 20px 10px 20px;
}

.nav li {
  display: inline;
  padding: 10px;
}

.nav a {
  font-family: 'Shift', sans-serif;
  font-size: 16px;
  text-transform: capitalize;
  color: #FFFFFF;
}


.jumbotron {
  background-image:url('https://static.pexels.com/photos/34632/pexels-photo.jpg');
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
}

.jumbotron h1 {
  color: #fff;
  font-size: 52px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighbourhood-guides{
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighbourhood-guides h2{
    color: #393c3d;
    font-size: 24px;
}

.neighbourhood-guides p{
    font-size: 15px;
    margin-bottom: 13px;
}
